---
import Quote from '@components/Quote.tsx'
import CashFlow from '@dashboard/CashFlow.tsx'
import FinancialSummary from '@dashboard/FinancialSummary.tsx'
import Goals from '@dashboard/Goals.tsx'
import MainCategories from '@dashboard/MainCategories.tsx'
import RecentTransactions from '@dashboard/RecentTransactions.tsx'
import Reminders from '@dashboard/Reminders.tsx'
import Fifth from '@images/5.webp'
import { Image } from 'astro:assets'
import { getSession } from 'auth-astro/server'
const session = await getSession(Astro.request)
const email = session?.user?.email
---

<section
  class='mx-auto my-6 flex h-[80dvh] w-[80dvw] flex-col items-center justify-center rounded-3xl px-4'
>
  <Image
    src={Fifth}
    alt='Main banner from Money Minder'
    class='md:object-fit absolute h-[80dvh] w-[80dvw] rounded-3xl object-cover opacity-30 dark:opacity-20'
  />
  <div class='flex flex-col gap-3'>
    <h1 class='text-center text-4xl font-bold mix-blend-difference md:text-8xl'>
      Bienvenido a Money Minder
    </h1>
    <p
      class='fonrt-medium m-auto w-2/3 text-center text-base mix-blend-difference md:w-1/2 md:text-xl'
    >
      Explora las opciones disponibles para personalizar tu experiencia y aprovechar al máximo
      nuestros servicios.
    </p>
  </div>
</section>

<div class='container mx-auto p-4 text-black dark:text-white'>
  <div class='grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3'>
    <!-- Resumen Financiero Rápido -->
    <FinancialSummary email={email} client:load />

    <!-- Transacciones Recientes -->
    <RecentTransactions email={email} client:load />

    <!-- Gráfico de Flujo de Efectivo -->
    <CashFlow email={email} client:load />

    <!-- Categorías Principales -->
    <MainCategories email={email} client:load />

    <!-- Progreso hacia Objetivos -->
    <Goals email={email} client:load />

    <!-- Alertas y Notificaciones -->
    <Reminders email={email} client:load />

    <Quote client:load />
  </div>
</div>
